.slider
    .slider-wrapper.swiper
        .slider-inner.swiper-wrapper
            .slider-slide.swiper-slide
                .slider-slide__img
                    img(src='../img/articles/base.jpg', alt='изображение')
                .slider-slide__content
                    .slider-slide__content-heading
                        .slider-slide__heading.card__content-heading
                            ul.rubrics
                                li.rubrics__item
                                    h2 Медицина
                            time.date(datetime='2021-02-02') 02/02/2021
                        p.card__text
                            | Госпитальная база закрыта, учреждение вернётся в «доковидный» режим после дезинфекции.  Роддом Златоуста вновь откроет свои двери 8 февраля
                    p.slider-slide__subtext
                        | Ещё одна главная новость дня — с 8 февраля златоустовский роддом возвращается к привычному формату работы. Госпитальную базу для лечения больных коронавирусной инфекцией переводят...
                a.card__link(href='#')
            .slider-slide.swiper-slide
                .slider-slide__img
                    img(src='../img/articles/meeting.jpg', alt='изображение')
                .slider-slide__content
                    .slider-slide__content-heading
                        .slider-slide__heading.card__content-heading
                            ul.rubrics
                                li.rubrics__item
                                    h2 Политика
                            time.date(datetime='2021-01-29') 29/01/2021
                        p.card__text
                            | ДЧ: Первое Собрание депутатов 2021 года: планируется работа на весь год
                    p.slider-slide__subtext
                        | Ещё одна главная новость дня — с 8 февраля златоустовский роддом возвращается к привычному формату работы. Госпитальную базу для лечения больных коронавирусной инфекцией переводят...
                a.card__link(href='#')
            .slider-slide.swiper-slide
                .slider-slide__img
                    img(src='../img/articles/trash.jpg', alt='изображение')
                .slider-slide__content
                    .slider-slide__content-heading
                        .slider-slide__heading.card__content-heading
                            ul.rubrics
                                li.rubrics__item
                                    h2 Коммуналка
                            time.date(datetime='2021-01-29') 29/01/2021
                        p.card__text
                            | В Златоусте сотрудники теротдела проверят магазин, из которого выбрасывали строительный мусор на контейнерную площадку
                    p.slider-slide__subtext
                        | Ещё одна главная новость дня — с 8 февраля златоустовский роддом возвращается к привычному формату работы. Госпитальную базу для лечения больных коронавирусной инфекцией переводят...
                a.card__link(href='#')