//swiper
link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css")
//style
link(rel='stylesheet', href='../css/base/base.css')
link(rel='preload', as='font' href='../css/base/base.css')